# A simple configuration file for the application
# Usage:
#   - Pound symbol (#) for comments, at the end of a line or on its own line
#   - Equals symbol (=) must have a variable name to its left
#   - Any number of spaces can surround variables or values

# Height and width are measured in pixels
width = 600
height = 600

# Show or hide the text display for number entered/updates remaining
show numbers = true