# A simple configuration file for the application
# Usage:
#   - Pound symbol (#) for comments, at the end of a line or on its own line
#   - Equals symbol (=) must have a variable name to its left
#   - Any number of spaces can surround variables or values

# Height and width are measured in pixels
width = 800
height = 800

# Canvas height and width are relative to the tile size
canvas height = 125
canvas width = 125

# Show or hide the text display for number entered/updates remaining
show numbers = true
# Show or hide the FPS display
show fps = false

# Limit the fps (0 to leave it unlimited)
framerate limit = 60

# Set how frequently the text updates (in frames)
text update rate = 12
fps update rate = 36